<ion-view view-title="Carrinho">
    <ion-content>
        <ion-list>
            <a class="item item-thumbnail-left" ng-repeat="marmita in items" ng-click="removeItem(marmita.uid)">
                <img ng-src="{{ marmita.imageUrl }}" />
                <h2>
                    <strong>{{ marmita.price | currency:'R$' }}</strong> | {{ marmita.name }}
                </h2>
                <p ng-if="marmita.description">{{ marmita.description }}</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>