<ion-view class="welcome-view" cache-view="false">
    <ion-content scroll="false">
        <div class="top-content row">
            <div class="app-copy col col-top">
                <h1 class="app-logo">Marmit App</h1>
                <p class="app-tagline">
                    Só não é melhor que o bandeco
                </p>
            </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-bottom">
                <a class="facebook-sign-in button button-block" ng-click="fbSignIn()">
                    Entrar com Facebook
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>